body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*------GENERAL--------*/

body{
  background-color: #F8F8F2;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #201D1D;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4{
  color: #201D1D;
}

p{
  color: #201D1D;
}

.bigButton{
  background-color: #fff;
  border-radius: 40px;
  font-weight: 600;
  border: 0px solid;
  height: 46px;
  padding: 0em 2em;
}

#ListHeader{

}

.ListtHeader{
  margin: 2em 0 1em 0;
}

.TitleAndAction{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#ContentWrapper{
margin: 0;
padding: 0 1em;
display: flex;
justify-content: center;
}

#RecipeListContainer {
  display: flex;
  flex-direction: column;
}

#RecipeListContainer{
  width: 100%;
  max-width: 520px;
  padding: 0 2em;
  margin-bottom: 200px;
}

#RecipeContainer{
  width: 100%;
  max-width: 520px;
  margin-bottom: 200px;
}

#RecipeListContainer ul{
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-direction: column;

}
#RecipeListContainer ul li{
  padding: 0 0 0 0;
  margin-bottom: 1em;
}
.recipe-container{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem 0.5rem 1rem 1rem;
  transition: 
  box-shadow 0.3s ease,      /* Smooth animation for box-shadow */
  transform 0.3s ease;       /* Smooth animation for transform (scale) */
}

.recipeInfoContainer{
  display: flex;
  width: 100%;
  gap: 1rem;
}


.recipe-container a{
  display: flex;
  flex: 1;
  gap: 1em;
}

.recipe-container h3{
  font-size: 1.1em;
  margin: 5px 0;
}
.recipe-container p{
  margin: 10px 0;
}
.recipe-container:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transform: scale(1.02); /* Slightly scale down on press to simulate button press */
}

.recipe-container:active{
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transform: scale(0.98); /* Slightly scale down on press to simulate button press */
}

.previewImageContainer{
  width: 120px;
  height: 120px;
  border-radius: 25px;
  background-color: beige;
  overflow: hidden;
  transition: transform 0.3s ease; /* Smooth transition for rotation */

}

.recipe-container:hover .previewImageContainer {
  transform: rotate(-3deg); /* Rotate the div slightly counter-clockwise */
}

.previewImageContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.RecipeItemInfoContainer{
  flex: 1;
}


#RecipeListContainer li{
  list-style: none;
  padding: 1em;
}


/* src/styles/Reseptit.css */
.favorite-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.favorite-btn img {
  width: 32px; /* Adjust size as needed */
  height: 32px;
}





/*----- Single Resepti ---------*/

.recipeImageContainer img{
  width: 100%;
}



/*----- Menu ---------*/
#MenuContainer{
  position: fixed;
  bottom: 20px;
  right: 0;
  width: 100%;
}

.floating-menu {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.floating-menu{
  max-width: 480px;
  display: flex;
  gap: 1em;
  margin: 0 auto;
  padding: 0em 1.1em;
}

.floating-menu ul{
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  margin: 0;
  padding: 0;
  border-radius: 50px;
  padding: 1em 1em;
}
.floating-menu ul li{
  list-style-type: none;
}

.menu-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  position: relative;
}

.menu-link:hover {
  color: #007BFF;
}

.badge {
  background-color: #FF0000;
  color: white;
  border-radius: 12px;
  padding: 3px 7px;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -10px;
}

.menu-icon {
  width: 40px; /* Adjust size as needed */
  height: 40px;
  transition: transform 0.2s ease-in-out; /* Smooth transition */
}

.floating-menu .active .menu-icon {
  transform: scale(1.1); /* Slightly enlarge the active icon */
  filter: brightness(1.2); /* Adjust brightness for active icon */
}
